@import url("https://fonts.googleapis.com/css?family=News+Cycle&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* overflow: hidden; */
  scroll-behavior: none;
  height: 100vh;
  user-select: none;
}

canvas {
  height: 100vh;
}

h1 {
  font-family: "Italiana", serif;
  font-size: 12vw;
  font-weight: 400;
  letter-spacing: -0.021em;
  line-height: 0.7em;
  font-style: italic;
}
